# 00 · Estadística descriptiva (antes de limpieza)

In [3]:
from pathlib import Path
import pandas as pd
from src.eda_stats import perfil_dataset, estadisticos_basicos, graficos_descriptivos
ROOT = Path.cwd().parent

df = pd.read_csv(ROOT / 'data' / 'raw' / 'NBA_Player_Stats_2.csv')
display(perfil_dataset(df).head(30))
display(estadisticos_basicos(df, [c for c in ['PTS','MP','FGA','3PA','FTA','FG%','3P%','2P%','FT%','Age'] if c in df.columns]))
graficos_descriptivos(df, ROOT/'reports/figuras/descriptiva')
print('Figuras en reports/figuras/descriptiva')

           tipo  nulos  %nulos
Player   object      0     0.0
Season   object      0     0.0
Tm       object      0     0.0
Pos      object      0     0.0
Age       int64      0     0.0
MP      float64      0     0.0
FGA     float64      0     0.0
3PA     float64      0     0.0
FT%     float64      0     0.0
3P%     float64      0     0.0
2P%     float64      0     0.0
FTA     float64      0     0.0
FG%     float64      0     0.0
PTS     float64      0     0.0

          mean  Mediana       std     min       Q1       Q3    max
PTS  17.770746   17.400  5.086000   2.900  14.0000  21.1500  38.80
MP   27.614914   27.600  6.789115   5.300  23.2500  32.7000  40.00
FGA  14.195220   14.100  4.118028   2.400  11.5000  17.0000  29.40
3PA   4.978967    5.000  2.755443   0.000   3.1000   6.8500  12.90
FTA   4.170746    4.200  1.883678   0.000   2.8000   5.5000   9.30
FG%   0.447103    0.444  0.060098   0.205   0.4085   0.4850   0.65
3P%   0.353727    0.353  0.069983   0.200   0.3035   0.4000   0.50
2P%   0.499185    0.499  0.067026   0.350   0.4540   0.5460   0.65
FT%   0.762707    0.765  0.098620   0.469   0.6925   0.8325   0.95
Age  25.560229   25.000  3.459911  18.000  23.0000  28.0000  36.00

Figuras en reports/figuras/descriptiva