# 01 · Exploración

In [6]:
from pathlib import Path
import pandas as pd
from src.eda_stats import perfil_dataset

ROOT = Path('.').resolve()              # estás en notebooks/
DATA = ROOT.parent / 'data' / 'raw' / 'NBA_Player_Stats_2.csv'

print("Leyendo desde:", DATA)

df = pd.read_csv(DATA)

display(df.head())
display(perfil_dataset(df).head(30))

Leyendo desde: C:\Users\User\OneDrive\Documentos\nba_project\nba_project\data\raw\NBA_Player_Stats_2.csv

,Player,Season,Tm,Pos,Age,MP,FGA,3PA,FT%,3P%,2P%,FTA,FG%,PTS
0,Player_082,2013-14,LAL,PG,27,27.0,16.6,9.6,0.747,0.334,0.611,5.7,0.450,21.4
1,Player_032,2008-09,CHI,SG,27,24.8,12.1,4.9,0.579,0.229,0.461,2.2,0.368,11.8
2,Player_087,2018-19,GSW,C,22,18.1,19.9,6.4,0.777,0.250,0.462,4.4,0.394,17.9
3,Player_005,2011-12,GSW,PG,27,23.8,12.8,3.0,0.950,0.349,0.426,5.8,0.408,14.4
4,Player_030,2005-06,WAS,C,26,14.3,8.7,3.5,0.844,0.362,0.492,3.6,0.439,8.3

           tipo  nulos  %nulos
Player   object      0     0.0
Season   object      0     0.0
Tm       object      0     0.0
Pos      object      0     0.0
Age       int64      0     0.0
MP      float64      0     0.0
FGA     float64      0     0.0
3PA     float64      0     0.0
FT%     float64      0     0.0
3P%     float64      0     0.0
2P%     float64      0     0.0
FTA     float64      0     0.0
FG%     float64      0     0.0
PTS     float64      0     0.0